:root {
  --color--font: #121722;
  --color-primary: #ffc600;
  --color-green: #07793d;
  --color-yellow: #fdd01b;
  --color-blue: #275fac;
  --color-red: #db3445;
  --color-white: #ffffff;
  --fs-xl: clamp(3.5rem, 6vw + 1rem, 5rem);
  --fs-600: clamp(3.25rem, 6vw + 1rem, 4rem);
  --fs-500: 2rem;
  --fs-400: 1.8rem;
  --shadow-elevation-highest: 0px 1px 0.8px hsl(var(--shadow-color) / 0.17),
    0px 2.5px 2.1px -0.6px hsl(var(--shadow-color) / 0.16),
    0px 5.3px 4.5px -1.2px hsl(var(--shadow-color) / 0.14),
    -0.1px 11.2px 9.5px -1.9px hsl(var(--shadow-color) / 0.12),
    -0.1px 21.8px 18.5px -2.5px hsl(var(--shadow-color) / 0.1),
    -0.2px 39px 33.1px -3.1px hsl(var(--shadow-color) / 0.08),
    -0.3px 64.5px 54.7px -3.7px hsl(var(--shadow-color) / 0.06),
    -0.5px 100px 84.8px -4.3px hsl(var(--shadow-color) / 0.04);
}
@media screen and (min-width: var(--bp-xl)) {
  :root {
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low: 0.6px 0.5px 0.7px hsl(var(--shadow-color) / 0.18),
      0.8px 0.7px 0.9px -2.2px hsl(var(--shadow-color) / 0.13),
      2.3px 2.1px 2.6px -4.3px hsl(var(--shadow-color) / 0.08);
    --shadow-elevation-medium: 0.6px 0.5px 0.7px hsl(var(--shadow-color) / 0.19),
      1.2px 1.1px 1.4px -1.4px hsl(var(--shadow-color) / 0.15),
      4px 3.6px 4.6px -2.9px hsl(var(--shadow-color) / 0.11),
      11.5px 10.3px 13.1px -4.3px hsl(var(--shadow-color) / 0.07);
    --shadow-elevation-high: 0.6px 0.5px 0.7px hsl(var(--shadow-color) / 0.17),
      1.4px 1.3px 1.6px -0.6px hsl(var(--shadow-color) / 0.16),
      3px 2.7px 3.4px -1.2px hsl(var(--shadow-color) / 0.14),
      6.4px 5.7px 7.3px -1.9px hsl(var(--shadow-color) / 0.12),
      12.5px 11.2px 14.2px -2.5px hsl(var(--shadow-color) / 0.1),
      22.4px 20.1px 25.5px -3.1px hsl(var(--shadow-color) / 0.08),
      37.1px 33.2px 42.2px -3.7px hsl(var(--shadow-color) / 0.06),
      57.5px 51.4px 65.4px -4.3px hsl(var(--shadow-color) / 0.04);
  }
  :root :root {
    --fs-500: 2.75rem;
    --fs-400: 2.5rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

*:focus {
  outline-color: #ffdc64;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: var(--fs-400);
  font-family: "Lato", sans-serif;
  color: var(--color--font);
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

::selection {
  background-color: #ffdc64;
  color: #363636;
}

a:hover,
button:hover {
  cursor: pointer;
}

button {
  font-family: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s all;
}

html {
  scrollbar-color: var(--color-blue) #e0e0e0;
  scrollbar-width: thin;
}

.pg {
  max-width: 70ch;
  font-size: var(--fs-400);
}
.pg > p:not(:last-child) {
  margin-bottom: 1rem;
}

.blur {
  filter: blur(10px);
}

.opacity--half {
  opacity: 0.5;
}

.opacity--full {
  opacity: 1;
}

.img {
  transition: 0.2s all ease-in-out;
  display: block;
  height: 100%;
  position: relative;
}

.img--shadow {
  bottom: -3rem;
  right: -3rem;
  position: absolute;
}
@media screen and (min-width: 45em) {
  .img--shadow {
    bottom: -4rem;
    right: -7rem;
  }
}

.img--ingredient {
  width: 70%;
  left: -10vw;
  bottom: -1rem;
  display: block;
  position: absolute;
  transition: 0.2s all ease-in-out;
}

.show {
  animation: fade-in 0.2s ease-in;
}

.hide {
  animation: fade-out 0.1s;
}

.heading--1 {
  font-family: "Neuton", serif;
  font-size: var(--fs-xl);
  color: var(--color-red);
  line-height: 1;
  font-weight: 700;
  text-shadow: 3px 3px 0px var(--color-white);
  letter-spacing: 1px;
}
.heading--2 {
  font-family: "Neuton", serif;
  font-size: var(--fs-xl);
  line-height: 1;
  color: var(--color-white);
  text-align: center;
  font-weight: 700;
  padding: 2rem 0;
}
.heading--3 {
  text-align: center;
  font-family: "Neuton", serif;
  color: var(--color-red);
  font-size: var(--fs-600);
  font-weight: 700;
  z-index: 1;
  background-color: var(--color-white);
  padding: 0 1rem 1rem;
  border-radius: 15px;
}
.heading--3 span {
  font-size: var(--fs-600);
  color: var(--color-blue);
}
.heading--4 {
  font-family: "Neuton", serif;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  margin: 0 1rem;
}
.heading--light {
  color: #f9f7f6;
}
.heading--dark {
  color: #696969;
}

.animation {
  animation: float 3s infinite ease-in-out;
}

@media (prefers-reduced-motion) {
  .animation {
    animation-name: dissolve;
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(0, -0.5rem, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fade-out {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
.nav {
  grid-area: nav;
  background-color: transparent;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: 1rem 0;
  font-size: 3rem;
  align-self: start;
}
.nav__list--wrapper {
  font-family: "Neuton", serif;
  position: fixed;
  background-color: white;
  display: grid;
  grid-gap: 10rem;
  align-content: center;
  justify-items: center;
  transition: 0.7s all 0.2s ease-in-out;
  height: 100vh;
  inset: 0;
  transform: translateX(-100%);
  z-index: 100;
}
@media screen and (min-width: 45em) {
  .nav__list--wrapper {
    inset: 0 50vw 0 0;
  }
}
.nav__list--overlay {
  background-color: black;
  position: fixed;
  transition: 0.9s all 0.5s ease-out;
  opacity: 0.5;
  transform: translateX(-150%);
  z-index: 100;
}
@media screen and (min-width: 45em) {
  .nav__list--overlay {
    inset: 0;
  }
}
.nav__link {
  font-size: var(--fs-600);
  text-decoration: none;
  transition: 0.2s all;
  position: relative;
}
.nav__link:after {
  transition: 0.7s all 0.2s ease-in-out;
  display: block;
  position: absolute;
  content: "";
  bottom: 0.2rem;
  left: 0;
  width: 0%;
  height: 0.5rem;
  background-color: var(--color-red);
  z-index: -1;
}
.nav__link:hover::after, .nav__link:focus::after, .nav__link:active::after {
  width: 100%;
}
.nav__info {
  display: flex;
  font-size: var(--fs-500);
  grid-gap: 5rem;
  align-self: flex-end;
}

.hamburger {
  border: none;
  width: 4rem;
  height: 3rem;
  position: relative;
  background-color: transparent;
  z-index: 150;
}
.hamburger:hover .hamburger__line::after {
  transform: translateY(-2px);
}
.hamburger:hover .hamburger__line::before {
  transform: translateY(2px);
}
.hamburger__line {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-color: var(--color-red);
  transition: 0.5s all;
}
.hamburger__line::before, .hamburger__line::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-color: inherit;
  content: "";
  transition: 0.5s all;
}
.hamburger__line::before {
  top: -0.8rem;
}
.hamburger__line::after {
  top: 0.8rem;
}
.hamburger__text {
  font-size: 1.7rem;
  font-family: "Neuton", serif;
  position: absolute;
  top: 8%;
  right: -5.5rem;
  color: var(--color-red);
  cursor: default;
}

.toggleHam:hover .hamburger__line::before,
.toggleHam:hover .hamburger__line::after {
  top: 0;
}
.toggleHam:hover .hamburger__line::before {
  transform: rotate(225deg);
}
.toggleHam:hover .hamburger__line::after {
  transform: rotate(-225deg);
}
.toggleHam .hamburger__line {
  background-color: transparent;
}
.toggleHam .hamburger__line::before, .toggleHam .hamburger__line::after {
  height: 0.15rem;
  width: 100%;
  background-color: var(--color-red);
  content: "";
  display: block;
  position: absolute;
  transition: 0.5s all;
}
.toggleHam .hamburger__line::before {
  top: 0;
  transform: rotate(225deg);
}
.toggleHam .hamburger__line::after {
  top: 0;
  transform: rotate(-225deg);
}
.toggleHam .hamburger__text {
  right: -7rem;
}

.hamburger__active {
  animation: lettersEffectActive 1s ease-in-out;
}

.hamburger__inactive {
  animation: lettersEffectsInactive 1s ease-in-out;
}

.nav__logo {
  width: 10rem;
  justify-self: end;
}
@media screen and (min-width: 45em) {
  .nav__logo {
    width: 14rem;
  }
}
.nav__logo img {
  width: 100%;
}

@keyframes lettersEffectActive {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(-2rem);
    opacity: 0;
  }
}
@keyframes lettersEffectsInactive {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(-3rem);
    opacity: 0;
  }
}
.header {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: start;
  min-height: 95vh;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-template-areas: "nav" "text" "img";
  padding: 0 1rem;
  background-image: url("../img/stripe-bottom.png"), url("../img/header-background-1.jpg");
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: bottom, center;
}
@media screen and (min-width: 75em) {
  .header {
    min-height: 100vh;
    align-items: center;
    background-image: url("../img/stripe-1.png"), url("../img/stripe-bottom.png"), url("../img/header-background-1.jpg");
    background-size: contain, contain, cover;
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-attachment: scroll, scroll, fixed;
    grid-template-rows: 1fr 1.5fr 1fr;
    grid-template-columns: 1fr 0.8fr;
    padding: 0 5rem;
    grid-template-areas: "nav nav" "text img";
  }
}
.header__heading {
  grid-area: text;
}
.header__heading h1 {
  padding-bottom: 4rem;
}
.header__images {
  grid-area: img;
  display: flex;
  height: 26vmax;
}
@media screen and (min-width: 55em) {
  .header__images {
    height: 19vmax;
  }
}
.header__images .header__img:hover:nth-child(1n+1) {
  transform: scale(1.2) translateY(-1rem);
  z-index: 10;
}
.header__images .header__img:nth-child(2) {
  transform: scale(1.1);
  margin: 0 -2rem;
  z-index: 1;
}
@media screen and (min-width: 55em) {
  .header__images .header__img:nth-child(2) {
    height: 20vmax;
  }
}
.header__img {
  transition: 0.2s all ease-in-out;
  display: block;
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  margin: 0 auto;
}

.box {
  background-color: aliceblue;
}

.section__title {
  display: grid;
  grid-gap: 2rem;
  justify-content: center;
  color: var(--color-white);
}

.footer {
  display: grid;
  grid-gap: 1rem;
  justify-items: center;
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 5rem 0 2rem;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
}
.footer__link {
  display: block;
  padding: 3px 0.8rem;
  border-radius: 5px;
  transition: all 0.2s;
  border: 1px solid var(--color-white);
}
.footer__link:hover {
  background-color: #fff;
  color: var(--color-red);
  transform: translateY(-0.5rem);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.footer__contact {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
  justify-items: start;
}
.footer__text {
  font-size: 1.4rem;
  font-family: "Neuton", serif;
}

.products {
  margin: 0;
  background-color: var(--color--primary);
  scroll-snap-type: y mandatory;
  overflow-y: auto;
}
.products__card {
  padding: 8rem 1rem;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-gap: 8rem;
  background-repeat: no-repeat;
  background-position: 35% 73%;
  background-size: cover;
}
@media screen and (min-width: 75em) {
  .products__card {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    background-position: 0 49%;
    grid-gap: 5rem;
    background-attachment: fixed;
  }
}
.products__card--1 {
  background-image: url("../img/products-background-1.jpg");
  background-color: var(--color-primary);
}
.products__card--2 {
  background-image: url("../img/products-background-2.jpg");
  background-color: var(--color-blue);
}
.products__card--3 {
  background-image: url("../img/products-background-3.jpg");
  background-color: var(--color-green);
}
.products__title {
  padding: 2rem 1rem 5rem;
  background-color: var(--color-red);
  scroll-snap-align: start;
}
@media screen and (min-width: 75em) {
  .products__title {
    background-image: url(../img/breadstick-1.png);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: -5% 10%;
  }
}
.products__description {
  display: grid;
  align-items: center;
  justify-items: center;
}
.products__image {
  height: 50vh;
  transition: 0.3s all ease-in-out;
  transform: rotate(1deg);
  position: relative;
}
.products__image::after {
  display: grid;
  justify-content: center;
  align-items: center;
  content: "70g";
  position: absolute;
  right: -5%;
  bottom: 10%;
  background: var(--color-white);
  border: 1px solid black;
  border-radius: 50%;
  padding: 0.8rem;
  z-index: 1;
  transform: rotate(8deg);
  font-family: "Neuton", serif;
  line-height: 1.3;
}
@media screen and (min-width: 45em) {
  .products__image {
    height: 50rem;
  }
}
.products__image:hover {
  transform: scale(1.004) rotate(1deg);
}
.products__image:hover .img--shadow {
  transform: translateX(0.3rem);
  z-index: -2;
}
.products__composition {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  background-image: url("../img/linedpaper.png");
  background-position: top;
  padding: 0.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 46rem;
  width: 30rem;
  margin: 0 auto;
}
@media screen and (min-width: 45em) {
  .products__composition {
    width: 35rem;
    height: 42rem;
  }
}
.products__composition--ingredients {
  padding-top: 2.5rem;
  align-self: flex-start;
}
.products__composition--ingredients ul {
  padding-left: 3rem;
  list-style: disc;
}
.products__composition table {
  border-collapse: collapse;
  width: 100%;
}
.products__composition th,
.products__composition td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  vertical-align: top;
  text-align: left;
  padding: 8px;
}
.products__composition tr,
.products__composition th,
.products__composition td {
  caption-side: bottom;
  border-spacing: 0;
  vertical-align: top;
}
.products__composition th {
  text-align: left;
}
.products__buttons {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  align-self: center;
  gap: 4rem;
}

.contact {
  min-height: 100vh;
  display: grid;
  align-content: center;
  justify-items: center;
  background-image: url("../img/stripe-2.png"), url("../img/stripe-bottom.png"), url("../img/header-background-1.jpg");
  background-size: contain, contain, cover;
  background-repeat: no-repeat;
  background-position: top, bottom;
}
@media screen and (min-width: 75em) {
  .contact {
    background-attachment: scroll, scroll, fixed;
  }
}
.contact__form {
  display: grid;
  justify-content: center;
  grid-gap: 2rem;
  max-width: 10rem;
}
.contact__form input,
.contact__form textarea {
  display: block;
}

.btn {
  padding: 4px 4px;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 10;
  border-radius: 15px;
}

.btn--cta {
  transition: all 0.1s linear;
  padding: 8px 23px;
  text-transform: capitalize;
  font-size: var(--fs-500);
  background: var(--color-red);
  color: white;
}
.btn--cta:hover,
.btn--cta .btn:active,
.btn--cta .btn:focus {
  background-color: var(--color-blue);
}

.company__title {
  display: grid;
  padding: 6rem 1rem 2rem;
  background-color: var(--color-blue);
}
@media screen and (min-width: 75em) {
  .company__title {
    background-image: url(../img/breadstick-2.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 125% 100%;
  }
}
.company__image {
  justify-self: center;
  height: 20vh;
  display: block;
}
@media screen and (min-width: 75em) {
  .company__image {
    display: none;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-primary);
  z-index: 9999;
}
.loader > img {
  width: 20vmax;
  animation: float 1.5s 20;
}
.loader.hidden {
  animation: fade-out 0.5s 2s forwards;
}

/*# sourceMappingURL=style.css.map */
