:root {
  --ff-primary: "Lato", sans-serif;
  --ff-display: "Neuton", serif;
  --fs-xl: clamp(3.5rem, 6vw + 1rem, 5rem);
  --fs-600: clamp(3.25rem, 6vw + 1rem, 4rem);
  --fs-500: 2rem;
  --fs-400: 1.8rem;
  --color-font: #11347d;
  --color-primary: #ffc600;
  --color-green: #07793d;
  --color-yellow: #fdd01b;
  --color-blue: #275fac;
  --color-red: #db3445;
  --color-white: #ffffff;
  --color-grey: #363636;
  --z-index-negative: -1;
  --z-index-box: 1000;
  --z-index-popup: 1100;
  --z-index-modal: 1200;
  --z-index-loader: 1300;
}
@media screen and (min-width: var(--bp-xl)) {
  :root :root {
    --fs-500: 2.75rem;
    --fs-400: 2.5rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

*:focus {
  outline-color: var(--color-blue);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: calc(15px + 0.2vw);
  font-family: var(--ff-primary);
  color: var(--color-font);
  font-weight: 400;
  line-height: 1.6;
  text-rendering: optimizeSpeed;
}

::selection {
  background-color: var(--color-yellow);
  color: var(--color-grey);
}

a:hover,
button:hover {
  cursor: pointer;
}

button {
  font-family: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s all;
}

html {
  scrollbar-color: var(--color-blue) #e0e0e0;
  scrollbar-width: thin;
}

input,
textarea {
  border: none;
}

table {
  contain: strict;
}

p {
  max-width: 70ch;
}
p:not(:last-child) {
  margin-bottom: 1rem;
}

.opacity--half {
  opacity: 0.5;
}

.opacity--full {
  opacity: 1;
}

.img {
  transition: 0.2s all ease-in-out;
  height: 100%;
  position: relative;
}

.img--shadow {
  bottom: -3rem;
  right: -3rem;
  position: absolute;
}
@media screen and (min-width: 45em) {
  .img--shadow {
    bottom: -3rem;
    right: -5rem;
  }
}

.img--ingredient {
  width: 50%;
  left: -8vw;
  bottom: -1rem;
  display: block;
  position: absolute;
  transition: 0.2s all ease-in-out;
}

.lazy-img {
  filter: blur(8px);
}

.accented {
  accent-color: var(--color-blue);
}

.heading--1, .heading--2, .heading--3 {
  font-family: var(--ff-display);
  font-size: var(--fs-xl);
  font-weight: 700;
}
.heading--1 {
  text-shadow: 3px 3px 0px var(--color-white);
  line-height: 1.1;
  letter-spacing: 1px;
  max-width: 70ch;
}
.heading--1 .first-word {
  color: var(--color-red);
}
.heading--2 {
  line-height: 1;
  color: var(--color-white);
  text-align: center;
  padding: 2rem 0;
}
.heading--3 {
  text-align: center;
  color: var(--color-red);
  text-shadow: 3px 3px 0px var(--color-white);
}
.heading--3 span {
  color: var(--color-font);
}

.text-width {
  max-width: 70ch;
}
.text-width:not(:last-child) {
  margin-bottom: 1rem;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(5px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes modalHide {
  100% {
    transform: translateX(100%);
    display: none;
  }
}
.show {
  animation: fade-in 0.2s ease-in;
}

.hide {
  animation: fade-out 0.2s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(2rem, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fade-out {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes hamburgerTextActive {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(-2rem);
    opacity: 0;
  }
}
@keyframes hamburgerTextInactive {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(-3rem);
    opacity: 0;
  }
}
@keyframes hide {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
.header {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: start;
  min-height: 95vh;
  grid-template-rows: 1fr 1fr 1.5fr 1fr;
  grid-template-areas: "nav" "text" "img" "button";
  padding: 0 1rem;
  grid-gap: 2rem;
  background-image: url("../img/stripe-bottom.webp"), url("../img/header-background.webp");
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: bottom, 0%;
}
@media screen and (min-width: 75em) {
  .header {
    min-height: 100vh;
    align-items: center;
    background-image: url("../img/stripe-1.webp"), url("../img/stripe-bottom.webp"), url("../img/header-background.webp");
    background-size: contain, contain, cover;
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-attachment: scroll, scroll, fixed;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 0.8fr;
    padding: 0 5rem;
    grid-template-areas: "nav nav" "text img" "button img";
  }
}
.header__heading {
  grid-area: text;
  display: grid;
}
@media screen and (min-width: 75em) {
  .header__heading {
    align-self: end;
    justify-self: end;
  }
}
.header__images {
  grid-area: img;
  display: flex;
  height: max(40vmin, 19rem);
  width: auto;
  aspect-ratio: 1.58/1;
}
@media screen and (min-width: 55em) {
  .header__images {
    height: 19vmax;
  }
}
.header__images .header__img:hover:nth-child(1n+1) {
  transform: scale(1.2);
  z-index: var(--z-index-popup);
}
.header__images .header__img:nth-child(2) {
  transform: scale(1.1);
  margin: 0 -4rem;
  z-index: var(--z-index-box);
}
.header__img {
  transition: 0.2s all ease-in-out;
  display: block;
  width: 100%;
  height: 100%;
}
.header > .btn {
  grid-area: button;
}

.skip-nav-link {
  position: absolute;
  top: 0;
  transform: translateY(-120%);
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 0.5rem 1.5rem;
  border-radius: 0 0 15px 15px;
  transition: transform 325ms ease-in;
}
.skip-nav-link:focus {
  transform: translateY(0);
}

.main {
  margin: 0 auto;
}

.section__title {
  padding: 5rem 1rem 6rem;
  display: grid;
  grid-gap: 2rem;
  justify-content: center;
  color: var(--color-white);
}

.products {
  margin: 0;
  background-color: var(--color--primary);
}
.products__title {
  background-color: var(--color-red);
  background-image: url(../img/products-title-background.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}
.products__title:after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  content: "";
  background: var(--color-white);
}
@media screen and (min-width: 55em) {
  .products__title {
    background-size: 50%;
    background-position: top left;
  }
}
@media screen and (min-width: 75em) {
  .products__title {
    background-image: url(../img/breadstick-1.webp), url(../img/products-title-background.webp), url(../img/products-title-background.webp);
    background-size: 30%, contain;
    background-repeat: no-repeat;
    background-position: 120% 80%, 5%, 95%;
  }
}
.products__card {
  padding: 6rem 1rem 0rem;
  display: grid;
  grid-template-areas: "description" "img" "composition";
  align-items: center;
  justify-items: center;
  grid-gap: 6rem;
  background-repeat: no-repeat;
  background-position: 25% 73%;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.products__card:last-of-type {
  padding-bottom: 6rem;
}
@media screen and (min-width: 55em) {
  .products__card {
    padding: 12rem 1rem;
    grid-template-areas: "description description" "img composition";
    background-position: center;
    background-attachment: fixed;
  }
  .products__card:last-of-type {
    padding-bottom: 12rem;
  }
}
@media screen and (min-width: 75em) {
  .products__card {
    grid-template-areas: "description img composition";
    padding: 12rem 1rem;
    grid-auto-flow: column;
  }
}
.products__card--1 {
  background-image: url("../img/products-background-1.jpg");
}
.products__card--2 {
  background-image: url("../img/products-background-2.jpg");
}
.products__card--3 {
  background-image: url("../img/products-background-3.jpg");
}
.products__description {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-area: description;
}
.products__image {
  height: 55vmax;
  transition: 0.3s all ease-in-out;
  transform: rotate(1deg);
  position: relative;
  grid-area: img;
}
@media screen and (min-width: 55em) {
  .products__image {
    height: 45rem;
    justify-self: flex-end;
  }
}
@media screen and (min-width: 75em) {
  .products__image {
    justify-self: center;
    height: 54rem;
  }
}
.products__image:hover {
  transform: scale(1.004) rotate(1deg);
}
.products__image:hover .img--shadow {
  transform: translateX(0.3rem);
  z-index: var(--z-index-negative);
}
.products__composition {
  box-shadow: var(--shadow-primary);
  background-color: var(--color-primary);
  background-blend-mode: multiply;
  background-position: top;
  padding: 0 0.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 43rem;
  width: 30rem;
  margin: 0 auto;
  grid-area: composition;
  transform: translateX(200%);
}
@media screen and (min-width: 75em) {
  .products__composition {
    width: 35rem;
    height: 42rem;
  }
}
.products__composition--ingredients {
  padding: 2.5rem 1.5rem;
}
.products__composition--nutrition {
  font-size: 16px;
  line-height: 1.2;
}
.products__composition table {
  border-collapse: collapse;
  width: 100%;
}
.products__composition th,
.products__composition td {
  border-bottom: 1px solid rgba(17, 52, 125, 0.2);
  vertical-align: top;
  text-align: left;
  padding: 8px;
  font-weight: 400;
}
.products__composition tr,
.products__composition th,
.products__composition td {
  caption-side: bottom;
  border-spacing: 0;
  vertical-align: top;
}
.products__composition th {
  text-align: left;
}
.products__buttons {
  display: flex;
  justify-content: space-around;
  margin: 0.9rem 0;
  align-self: center;
  gap: 4rem;
}

.breadsticks__image {
  justify-self: center;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.breadsticks__image--products {
  background-image: url("../img/breadstick-3.webp");
  height: 14vmin;
}
.breadsticks__image--company {
  background-image: url("../img/breadstick-2.webp");
  height: 6vmin;
}
@media screen and (min-width: 75em) {
  .breadsticks__image {
    display: none;
  }
}

.company__title {
  background-color: var(--color-blue);
  background-image: url(../img/company-background.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}
.company__title:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  content: "";
  background: var(--color-white);
}
@media screen and (min-width: 55em) {
  .company__title {
    background-size: 50%;
    background-position: right;
  }
}
@media screen and (min-width: 75em) {
  .company__title {
    background-image: url(../img/breadstick-3.webp), url(../img/company-background.webp), url(../img/company-background.webp);
    background-size: 40%, contain;
    background-repeat: no-repeat;
    background-position: -30% 50%, right, left;
  }
}

.contact {
  min-height: 100vh;
  display: grid;
  grid-gap: 3rem;
  align-content: center;
  justify-items: center;
  padding: 9rem 0 12rem;
  background-image: url("../img/stripe-2.webp"), url("../img/stripe-bottom.webp"), url("../img/header-background.webp");
  background-size: contain, contain, cover;
  background-repeat: no-repeat;
  background-position: top, bottom, right;
}
@media screen and (min-width: 75em) {
  .contact {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-attachment: scroll, scroll, fixed;
  }
}
.contact__card {
  display: grid;
  padding: 2rem;
}
.contact__title {
  display: grid;
  justify-items: center;
  align-items: center;
}
.contact__text {
  display: grid;
}
.contact__text > p:nth-of-type(2n):not(:last-child) {
  margin-bottom: 2rem;
}
.contact__text > p:nth-of-type(2n + 1) {
  font-weight: 700;
}
.contact__image {
  width: 12rem;
}
.contact__modal {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  background-color: var(--color-primary);
  display: grid;
  align-items: flex-start;
  z-index: var(--z-index-modal);
  transition: 0.3s all;
  padding: 1rem;
  overflow-y: auto;
}
.contact__modal.hidden {
  animation: modalHide 0.4s forwards ease-in-out;
}
.contact__form {
  overflow: hidden;
  display: grid;
  justify-items: center;
  padding-bottom: 1rem;
  grid-gap: 2.5rem;
}
.contact__form input,
.contact__form textarea {
  padding: 5px;
  font-size: 1.5rem;
  background-color: transparent;
  width: 30rem;
  border-bottom: 1px black solid;
}
.contact__form textarea {
  overflow-y: auto;
  height: 10rem;
  max-width: 30rem;
  scrollbar-color: var(--color-blue) var(--color-yellow);
}
@media screen and (min-width: 75em) {
  .contact__form textarea {
    max-width: 80rem;
  }
}

.nav {
  grid-area: nav;
  background-color: transparent;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: 1rem 0;
  font-size: 3rem;
  align-self: start;
}
.nav__list--wrapper {
  font-family: var(--ff-display);
  position: fixed;
  background-color: var(--color-primary);
  display: grid;
  grid-gap: 10rem;
  align-content: center;
  justify-items: center;
  transition: 0.7s all 0.2s ease-in-out;
  height: 100vh;
  inset: 0;
  transform: translateX(-100%);
  z-index: var(--z-index-popup);
}
@media screen and (min-width: 45em) {
  .nav__list--wrapper {
    inset: 0 50vw 0 0;
  }
}
.nav__item {
  font-size: var(--fs-600);
}
.nav__list--overlay {
  background-color: var(--color-grey);
  position: fixed;
  transition: 0.9s all 0.5s ease-out;
  opacity: 0.5;
  transform: translateX(-150%);
  z-index: var(--z-index-popup);
}
@media screen and (min-width: 45em) {
  .nav__list--overlay {
    inset: 0;
  }
}
.nav__link {
  text-decoration: none;
  transition: 0.2s all;
  position: relative;
}
.nav__link:after {
  transition: 0.7s all 0.2s ease-in-out;
  display: block;
  position: absolute;
  content: "";
  bottom: 0.2rem;
  left: 0;
  width: 0%;
  height: 0.5rem;
  background-color: var(--color-red);
  z-index: -1;
}
.nav__link:hover::after, .nav__link:focus::after, .nav__link:active::after {
  width: 100%;
}
.nav__info {
  display: flex;
  font-size: var(--fs-500);
  grid-gap: 5rem;
  align-self: flex-end;
}

.hamburger {
  border: none;
  width: 4.5rem;
  height: 3rem;
  position: relative;
  background-color: transparent;
  z-index: var(--z-index-modal);
}
.hamburger:hover .hamburger__line::after {
  transform: translateY(-15px);
}
.hamburger:hover .hamburger__line::before {
  transform: translateY(15px);
}
.hamburger__line {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.4rem;
  background-color: var(--color-red);
  transition: 0.2s all ease-out;
}
.hamburger__line::before, .hamburger__line::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.4rem;
  background-color: inherit;
  content: "";
  transition: 0.5s all;
}
.hamburger__line::before {
  top: -0.8rem;
}
.hamburger__line::after {
  top: 0.8rem;
}
.hamburger__text {
  font-size: var(--fs-400);
  font-family: var(--ff-display);
  position: absolute;
  top: 0;
  right: -5.5rem;
  color: var(--color-red);
  cursor: default;
}

.toggleHam:hover .hamburger__line::before,
.toggleHam:hover .hamburger__line::after {
  top: 0;
}
.toggleHam:hover .hamburger__line::before {
  transform: rotate(225deg);
}
.toggleHam:hover .hamburger__line::after {
  transform: rotate(-225deg);
}
.toggleHam .hamburger__line {
  background-color: transparent;
}
.toggleHam .hamburger__line::before, .toggleHam .hamburger__line::after {
  height: 0.4rem;
  width: 100%;
  background-color: var(--color-red);
  content: "";
  display: block;
  position: absolute;
  transition: 0.5s all;
}
.toggleHam .hamburger__line::before {
  top: 0;
  transform: rotate(225deg);
}
.toggleHam .hamburger__line::after {
  top: 0;
  transform: rotate(-225deg);
}
.toggleHam .hamburger__text {
  right: -7rem;
}

.hamburger__active {
  animation: hamburgerTextActive 1s ease-in-out;
}

.hamburger__inactive {
  animation: hamburgerTextInactive 1s ease-in-out;
}

.nav__logo {
  width: 10rem;
  justify-self: end;
}
@media screen and (min-width: 45em) {
  .nav__logo {
    width: 12rem;
  }
}
.nav__logo img {
  width: 100%;
}

.btn {
  padding: 4px 4px;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 15px;
  color: var(--color-font);
}
.btn--cta {
  transition: all 0.1s linear;
  padding: 8px 23px;
  box-shadow: var(--shadow-primary);
  background: var(--color-red);
  color: var(--color-white);
  animation: float 3s infinite ease-in-out;
}
.btn--cta:focus {
  outline-style: dotted;
  outline-color: var(--color-blue);
  outline-width: 0.3rem;
  outline-offset: 2px;
}
.btn--cta:hover,
.btn--cta .btn:active,
.btn--cta .btn:focus {
  background-color: var(--color-blue);
}
.btn--close {
  position: absolute;
  right: 0;
  top: 0;
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  font-size: 0;
}
.btn--close::before, .btn--close::after {
  height: 0.5rem;
  width: 100%;
  background-color: var(--color-red);
  content: "";
  display: block;
  position: absolute;
  top: 1.8rem;
  right: 0;
  transition: 0.5s all;
}
.btn--close::before {
  transform: rotate(225deg);
}
.btn--close::after {
  transform: rotate(-225deg);
}

@media (prefers-reduced-motion) {
  .btn--cta {
    animation-name: none;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-primary);
  z-index: var(--z-index-loader);
}
.loader > img {
  width: 15vmax;
  animation: float 1.5s 3;
}
@media screen and (min-width: 75em) {
  .loader > img {
    width: 8vmax;
  }
}
.loader.hidden {
  animation: fade-out 0.5s 1s forwards;
}

.footer {
  display: grid;
  grid-gap: 1rem;
  justify-items: center;
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 5rem 0 2rem;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
}
.footer__link {
  color: var(--color-white);
  display: block;
  padding: 3px 0.8rem;
  border-radius: 5px;
  transition: all 0.2s;
}
.footer__link:hover {
  transform: translateY(-0.5rem);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.footer__contact {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
  justify-items: start;
}
.footer__text {
  font-size: 1.4rem;
  font-family: var(--ff-display);
}

.typ__container {
  position: relative;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-content: start;
  grid-gap: 5rem;
  background-image: url(../img/header-background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 1rem;
}
.typ__heading {
  font-size: var(--fs-600);
  font-weight: 700;
  letter-spacing: 1px;
}
.typ__heading span {
  font-size: var(--fs-500);
  font-weight: 400;
  display: block;
}
.typ__image {
  width: 12rem;
}

/*# sourceMappingURL=style.css.map */
