@mixin componentLayout($pt, $grg) {
  padding-top: $pt;
  display: grid;
  justify-items: center;
  grid-row-gap: $grg;
  position: relative;
  margin-top: -1rem;
}

@mixin boxLayout {
  padding-bottom: 10rem;
}

@mixin componentAfter {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -0.5rem;
}
