:root {
  // COLOR VARIABLES
  --color--font: #0f2a50;
  --color--primary: #ffd83f;
  --color--primary--dark: darken(var(--color--primary), 20%);
  --color--primary--light: lighten(var(--color--primary), 15%);
}

// COLOR VARIABLES

$color-primary: #45a86e;
$color-primary-dark: #2a9254;
$color-primary-light: lighten($color-primary, 15%);

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #696969;
$color-grey-dark-2: darken($color-grey-dark-1, 20%);

$color-white: #fff;
$color-yellow: #ffdc64;

// FONT VARIABLES

$font-primary: "Lato", sans-serif;
$font-display: "Architects Daughter", cursive;

// RESPONSIVE BREAKPOINTS

$bp-xxl: 90em; // 1400px
$bp-xl: 75em; // 1200px
$bp-lg: 60em; // 1000px
$bp-md: 55em; // 800px;
$bp-sm: 45em; // 600px;

// SHADOW VARIABLES

$shadow-1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadow-2: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$shadow-3: rgba(0, 0, 0, 0.35) 0px 5px 15px;
