// COLOR VARIABLES

// RESPONSIVE BREAKPOINTS

$bp-xxl: 90em; // 1400px
$bp-xl: 75em; // 1200px
$bp-lg: 60em; // 1000px
$bp-md: 55em; // 800px;
$bp-sm: 45em; // 600px;

:root {
  // colors
  --color-font: #11347d;
  --color-primary: #ffc600;

  --color-green: #07793d;
  --color-yellow: #fdd01b;
  --color-blue: #275fac;
  --color-red: #db3445;
  --color-white: #ffffff;

  //font size
  --fs-xl: clamp(3.5rem, 6vw + 1rem, 5rem);
  --fs-600: clamp(3.25rem, 6vw + 1rem, 4rem);
  --fs-500: 2rem;
  --fs-400: 1.8rem;

  // z-index

  --z-index-negative: -1;
  --z-index-box: 1000;
  --z-index-popup: 1100;
  --z-index-modal: 1200;
  --z-index-loader: 1300;

  @media screen and (min-width: var(--bp-xl)) {
    :root {
      --fs-500: 2.75rem;
      --fs-400: 2.5rem;
    }
  }
}

$color-primary: #45a86e;
$color-primary-dark: #2a9254;
$color-primary-light: lighten($color-primary, 15%);

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #696969;
$color-grey-dark-2: darken($color-grey-dark-1, 20%);

$color-white: #fff;
$color-yellow: #ffdc64;

// FONT VARIABLES

$font-primary: "Lato", sans-serif;
$font-display: "Neuton", serif;

// SHADOW VARIABLES

$shadow-1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadow-2: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$shadow-3: rgba(0, 0, 0, 0.35) 0px 5px 15px;
