.header {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: start;
  height: 100vh;
  position: relative;
  overflow: hidden;

  background: rgb(255, 198, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 198, 0, 1) 0%,
    rgba(255, 198, 0, 1) 56%,
    rgba(255, 252, 0, 1) 92%
  );

  // background-color: var(--color--primary);

  &__heading {
    margin: 4rem 2rem 2rem;
    // margin: 2rem auto;
    // text-align: center;
  }
  &__img {
    display: block;
    // position: fixed;
    width: 20rem;
    // height: 200px;
    // top: 55%;
    // left: 50%;

    // width: 80vw;
    // height: auto;
    // z-index: 1;
    // width: 100%;

    @media screen and (min-width: $bp-md) {
      width: 30rem;
      margin-top: -30rem; /* Negative half of height. */
      margin-left: -40rem; /* Negative half of width. */
    }
  }

  &__text {
  }
}
