.btn {
  padding: 4px 4px;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 10;
  border-radius: 15px;
}

.btn--cta {
  transition: all 0.1s linear;
  padding: 8px 23px;
  // border: 2px solid white;
  text-transform: capitalize;
  font-size: var(--fs-500);
  background: var(--color-red);
  color: white;
  &:hover,
  .btn:active,
  .btn:focus {
    transform: translate3d(0, -0.5rem, 0);
  }
}
