.btn {
  padding: 4px 4px;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 15px;
  color: var(--color-font);

  &--cta {
    transition: all 0.1s linear;
    padding: 8px 23px;
    box-shadow: var(--shadow-primary);
    background: var(--color-red);
    color: var(--color-white);
    animation: float 3s infinite ease-in-out;

    &:focus {
      outline-style: dotted;
      outline-color: var(--color-blue);
      outline-width: 0.3rem;
      outline-offset: 2px;
    }

    &:hover,
    .btn:active,
    .btn:focus {
      background-color: var(--color-blue);
    }
  }

  &--close {
    position: absolute;
    right: 0;
    top: 0;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    font-size: 0;

    &::before,
    &::after {
      height: 0.5rem;
      width: 100%;
      background-color: var(--color-red);
      content: "";
      display: block;
      position: absolute;
      top: 1.8rem;
      right: 0;
      transition: 0.5s all;
    }

    &::before {
      transform: rotate(225deg);
    }

    &::after {
      transform: rotate(-225deg);
    }
  }
}
