.company {
  //   display: grid;
  //   align-items: flex-start;
  //   min-height: 100vh;

  &__title {
    background-color: var(--color-blue);

    @media screen and (min-width: $bp-xl) {
      background-image: url(../img/breadstick-2.png);
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: 125% 100%;
    }
  }

  &__image {
    justify-self: center;
    height: 20vh;
    display: block;

    @media screen and (min-width: $bp-xl) {
      display: none;
    }
  }
}
