.company {
  //   display: grid;
  //   align-items: flex-start;
  //   min-height: 100vh;

  &__title {
    background-color: var(--color-blue);
    position: relative;

    &:after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1rem;
      content: "";
      background: var(--color-white);
    }

    @media screen and (min-width: $bp-xl) {
      background-image: url(../img/breadstick-5.png),
        url(../img/breadstick-3.png);
      background-size: 40%, 30%;
      background-repeat: no-repeat;
      background-position: 125% 100%, -20% 50%;
    }
  }
}
