@use "../abstracts" as *;

.nav {
  grid-area: nav;
  background-color: transparent;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: 1rem 0;
  font-size: 3rem;
  align-self: start;

  &__list--wrapper {
    font-family: var(--ff-display);
    position: fixed;
    background-color: var(--color-primary);
    display: grid;
    grid-gap: 10rem;
    align-content: center;
    justify-items: center;
    transition: 0.7s all 0.2s ease-in-out;

    height: 100vh;
    inset: 0;
    transform: translateX(-100%);

    z-index: var(--z-index-box);

    @media screen and (min-width: $bp-sm) {
      inset: 0 50vw 0 0;
    }
  }

  &__list {
    // list-style: none;
  }

  &__item {
    // display: inline-block;
  }

  &__list--overlay {
    background-color: black;
    position: fixed;
    transition: 0.9s all 0.5s ease-out;
    opacity: 0.5;
    transform: translateX(-150%);
    z-index: var(--z-index-box);

    @media screen and (min-width: $bp-sm) {
      inset: 0;
    }
  }

  &__link {
    font-size: var(--fs-600);
    text-decoration: none;
    transition: 0.2s all;
    position: relative;

    &:hover {
      // color: var(--color-red);
    }

    &:after {
      transition: 0.7s all 0.2s ease-in-out;
      display: block;
      position: absolute;
      content: "";
      bottom: 0.2rem;
      left: 0;
      width: 0%;
      height: 0.5rem;
      background-color: var(--color-red);
      z-index: var(--z-ndex-negative);
    }

    &:hover,
    &:focus,
    &:active {
      &::after {
        width: 100%;
      }
    }
  }

  &__info {
    display: flex;
    font-size: var(--fs-500);
    grid-gap: 5rem;
    align-self: flex-end;
  }
}

.hamburger {
  border: none;
  width: 4.5rem;
  height: 3rem;
  position: relative;
  background-color: transparent;
  z-index: var(--z-index-popup);
  &:hover {
    .hamburger__line::after {
      transform: translateY(-15px);
    }
    .hamburger__line::before {
      transform: translateY(15px);
    }
  }

  &__line {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.4rem;
    background-color: var(--color-red);
    transition: 0.2s all ease-out;

    &::before,
    &::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 0.4rem;
      background-color: inherit;
      content: "";
      transition: 0.5s all;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__text {
    font-size: var(--fs-400);
    font-family: var(--ff-display);
    position: absolute;
    top: 8%;
    right: -5.5rem;
    color: var(--color-red);
    cursor: default;
  }
}

.toggleHam {
  &:hover {
    .hamburger__line::before,
    .hamburger__line::after {
      top: 0;
    }
    .hamburger__line::before {
      transform: rotate(225deg);
    }
    .hamburger__line::after {
      transform: rotate(-225deg);
    }
  }

  .hamburger__line {
    background-color: transparent;

    &::before,
    &::after {
      height: 0.4rem;
      width: 100%;
      background-color: var(--color-red);
      content: "";
      display: block;
      position: absolute;
      transition: 0.5s all;
    }

    &::before {
      top: 0;
      transform: rotate(225deg);
    }

    &::after {
      top: 0;
      transform: rotate(-225deg);
    }
  }

  .hamburger__text {
    right: -7rem;
  }
}

.hamburger__active {
  animation: lettersEffectActive 1s ease-in-out;
}

.hamburger__inactive {
  animation: lettersEffectsInactive 1s ease-in-out;
}

.nav__logo {
  width: 10rem;
  justify-self: end;
  @media screen and (min-width: $bp-sm) {
    width: 14rem;
  }

  img {
    width: 100%;
  }
}
