.products {
  height: 300vh;
}

.box {
  display: grid;
  &__card {
    display: grid;
    // grid-auto-flow: column;
    justify-items: center;

    @media screen and (min-width: $bp-sm) {
      grid-auto-flow: column;
    }
    &--image {
      height: 40vh;

      @media screen and (min-width: $bp-sm) {
        height: 60vh;
      }
    }
  }
}
