@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(5px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes modalHide {
  100% {
    transform: translateX(100%);
    display: none;
  }
}

.show {
  animation: fade-in 0.2s ease-in;
}

.hide {
  animation: fade-out 0.2s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(2rem, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes hamburgerTextActive {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  20% {
    transform: translateX(-2rem);
    opacity: 0;
  }
}

@keyframes hamburgerTextInactive {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  20% {
    transform: translateX(-3rem);
    opacity: 0;
  }
}

@keyframes hide {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
