.animation {
  animation: float 3s infinite ease-in-out;
}

@media (prefers-reduced-motion) {
  .animation {
    animation-name: dissolve;
  }
}

.show {
  animation: fade-in 0.2s ease-in;
}

.hide {
  animation: fade-out 0.1s;
}

.animation--hide {
  transition: opacity 150ms ease;
  opacity: 0;
}

.animation--move {
  animation: move 0.6s 0.2s forwards ease-in-out;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(0, -0.5rem, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes lettersEffectActive {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  20% {
    transform: translateX(-2rem);
    opacity: 0;
  }
}

@keyframes lettersEffectsInactive {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  20% {
    transform: translateX(-3rem);
    opacity: 0;
  }
}

@keyframes hide {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes move {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
