*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  scroll-margin-top: 6rem;

  &:focus {
    outline-color: $color-yellow;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-1;
  font-weight: 400;
  line-height: 1.6;
  background-color: #07b8ba;
}
