@use '../abstracts' as *;

.heading {
  &--1,
  &--2,
  &--3 {
    font-family: $font-display;
    font-size: var(--fs-xl);
    font-weight: 700;
  }

  &--1 {
    // color: var(--color-font);

    text-shadow: 3px 3px 0px var(--color-white);
    line-height: 1;

    letter-spacing: 1px;
  }

  &--2 {
    line-height: 1;
    color: var(--color-white);
    text-align: center;
    padding: 2rem 0;
  }

  &--3 {
    text-align: center;
    color: var(--color-red);
    text-shadow: 3px 3px 0px var(--color-white);
    span {
      color: var(--color-font);
    }
  }

  &--4 {
    font-family: $font-display;
    font-size: var(--fs-600);
    font-weight: 400;
  }
}
