.heading {
  &--1 {
    font-family: $font-display;
    font-size: var(--fs-xl);
    // color: var(--color--font);
    color: var(--color-white);
    line-height: 1;
    font-weight: 700;
    text-shadow: 3px 3px 0px #f2a069;
    letter-spacing: 1px;
  }

  &--2 {
    font-family: $font-display;
    font-size: var(--fs-xl);
    // font-style: italic;
    line-height: 1;
    color: var(--color-white);
    text-align: center;
    // text-transform: uppercase;
    font-weight: 700;
  }

  &--3 {
    text-align: center;
    font-family: $font-display;
    color: var(--color-red);
    font-size: var(--fs-600);
    text-shadow: 3px 3px 0px var(--color-white);
    font-weight: 700;
    position: relative;
    z-index: 1;

    span {
      color: var(--color-blue);
      background-color: var(--color-white);
      padding: 0 2rem 1rem;
      border-radius: 15px;
      // line-height: 1;
    }

    @media screen and (min-width: $bp-xl) {
      font-size: 5rem;
    }
  }

  &--4 {
    font-family: $font-display;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    margin: 0 1rem;
  }

  // &--secondary {
  //   display: inline-block;
  // }

  &--light {
    color: $color-grey-light-1;
  }

  &--dark {
    color: $color-grey-dark-1;
  }
}
