.pg {
  max-width: 70ch;
  font-size: var(--fs-500);

  & > p:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.blur {
  filter: blur(10px);
}

.opacity--half {
  opacity: 0.5;
}
.opacity--full {
  opacity: 1;
}

.img {
  // transition: 0.5s all;
  transition: 0.2s all ease-in-out;
  display: block;
  height: 100%;
  position: relative;
  // transition: 4s all;
}

.img--shadow {
  bottom: -3rem;
  right: -3rem;
  position: absolute;
  @media screen and (min-width: $bp-sm) {
    bottom: -4rem;
    right: -7rem;
  }
}

.img--ingredient {
  width: 70%;
  left: -10vw;
  bottom: -1rem;
  display: block;
  position: absolute;
  transition: 0.2s all ease-in-out;
}

.show {
  // transition: 0.3s all;
  animation: fade-in 0.2s ease-in;
}

.hide {
  animation: fade-out 0.1s;
}
