.pg {
  max-width: 70ch;
  font-size: 1.6rem;

  & > p:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.blur {
  filter: blur(10px);
}

.mt {
  margin-top: -1rem;
}

.opacity--half {
  opacity: 0.5;
}
.opacity--full {
  opacity: 1;
}

.img {
  // transition: 0.5s all;
  display: block;
  height: 100%;
  // position: static;
  // transition: 4s all;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
}

.show {
  // transition: 0.3s all;
  animation: fade-in 0.3s ease-in-out;
}

.hide {
  animation: fade-out 0.3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    // transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2rem, 0);
    // transform: translateY(2rem);
  }
}
