.pg {
  max-width: 70ch;
  font-size: 1.6rem;

  & > p:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.blur {
  filter: blur(10px);
}

.mt {
  margin-top: -1rem;
}

.opacity--half {
  opacity: 0.5;
}
.opacity--full {
  opacity: 1;
}

.img {
  // transition: 0.5s all;
  transition: 0.2s all ease-in-out;
  display: block;
  height: 100%;
  position: relative;
  // transition: 4s all;
}

.img--shadow {
  bottom: -3rem;
  right: -3rem;
  position: absolute;
  @media screen and (min-width: $bp-sm) {
    bottom: -4rem;
    right: -7rem;
  }
}

.img--ingredient {
  width: 70%;
  left: -10vw;
  bottom: -1rem;
  display: block;
  position: absolute;
  transition: 0.2s all ease-in-out;
}

.btn {
  padding: 4px 4px;
  border: none;
  background: none;
  cursor: pointer;
}

.show {
  // transition: 0.3s all;
  animation: fade-in 0.2s ease-in;
}

.hide {
  animation: fade-out 0.1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(0, -0.5rem, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    // transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2rem, 0);
    // transform: translateY(2rem);
  }
}
