@use "../abstracts" as *;

.typ {
  &__container {
    position: relative;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-content: start;
    grid-gap: 5rem;
    background-color: var(--color-primary);
    padding: 2rem 1rem;
  }

  &__text {
    // display: grid;
    // justify-content: center;
  }

  &__heading {
    // font-family: $font-display;
    font-size: var(--fs-600);
    // color: var(--color--font);
    // color: var(--color-red);
    // line-height: 1;
    font-weight: 700;
    // text-shadow: 3px 3px 0px var(--color-white);
    letter-spacing: 1px;

    span {
      font-size: var(--fs-400);
      font-weight: 400;
      display: block;
      //   color: pink;
    }
  }

  &__image {
    width: 12rem;
  }
}
