@use "../abstracts" as *;

.contact {
  min-height: 100vh;
  display: grid;
  grid-gap: 3rem;
  align-content: center;
  justify-items: center;
  padding: 9rem 0 12rem;

  background-image: url("../img/stripe-2.webp"),
    url("../img/stripe-bottom.webp"), url("../img/header-background.webp");
  background-size: contain, contain, cover;
  background-repeat: no-repeat;
  background-position: top, bottom, right;

  @media screen and (min-width: $bp-xl) {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    background-attachment: scroll, scroll, fixed;
  }

  &__card {
    display: grid;
    padding: 2rem;
  }

  &__title {
    display: grid;
    justify-items: center;
    align-items: center;
  }

  &__text {
    display: grid;

    & > p:nth-of-type(2n):not(:last-child) {
      margin-bottom: 2rem;
    }

    & > p:nth-of-type(2n + 1) {
      font-weight: 700;
    }
  }

  &__image {
    width: 12rem;
  }

  &__modal {
    position: fixed;
    inset: 0;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    display: grid;
    align-items: flex-start;
    z-index: var(--z-index-modal);
    transition: 0.3s all;
    padding: 1rem;
    overflow-y: auto;

    &.hidden {
      animation: modalHide 0.4s forwards ease-in-out;
    }
  }

  &__form {
    overflow: hidden;
    display: grid;
    justify-items: center;
    padding-bottom: 1rem;
    grid-gap: 2.5rem;

    input,
    textarea {
      padding: 5px;
      font-size: 1.5rem;
      background-color: transparent;
      width: 30rem;
      border-bottom: 1px black solid;
    }

    textarea {
      overflow-y: auto;
      height: 10rem;
      max-width: 30rem;
      scrollbar-color: var(--color-blue) var(--color-yellow);

      @media screen and (min-width: $bp-xl) {
        max-width: 80rem;
      }
    }
  }
}
