@use "../abstracts" as *;

.header {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: start;
  min-height: 95vh;
  grid-template-rows: 1fr 1fr 1.5fr 1fr;
  grid-template-areas:
    "nav"
    "text"
    "img"
    "button";
  padding: 0 1rem;
  grid-gap: 2rem;
  background-image: url("../img/stripe-bottom.webp"),
    url("../img/header-background.webp");
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: bottom, 0%;

  @media screen and (min-width: $bp-xl) {
    min-height: 100vh;
    align-items: center;
    background-image: url("../img/stripe-1.webp"),
      url("../img/stripe-bottom.webp"), url("../img/header-background.webp");
    background-size: contain, contain, cover;
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-attachment: scroll, scroll, fixed;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 0.8fr;
    padding: 0 5rem;
    grid-template-areas:
      "nav nav"
      "text img"
      "button img";
  }

  &__heading {
    grid-area: text;
    display: grid;
    h1 {
    }

    @media screen and (min-width: $bp-xl) {
      align-self: end;
      justify-self: end;
    }
  }

  &__images {
    grid-area: img;
    display: flex;
    height: 28vmax;
    width: auto;

    aspect-ratio: 1.58/1;

    @media screen and (min-width: $bp-md) {
      height: 19vmax;
    }

    & .header__img:hover:nth-child(1n + 1) {
      transform: scale(1.2);
      z-index: var(--z-index-popup);
    }

    & .header__img:nth-child(2) {
      transform: scale(1.1);
      margin: 0 -3rem;
      z-index: var(--z-index-box);

      @media screen and (min-width: $bp-md) {
        height: 20vmax;
      }
    }
  }

  &__img {
    transition: 0.2s all ease-in-out;
    display: block;
    width: 100%;
    height: 100%;
  }

  & > .btn {
    grid-area: button;
  }
}

.skip-nav-link {
  position: absolute;
  top: 0;
  transform: translateY(-120%);
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 0.5rem 1.5rem;
  border-radius: 0 0 15px 15px;
  transition: transform 325ms ease-in;

  &:focus {
    transform: translateY(0);
  }
}
