@use "../abstracts" as *;

.products {
  margin: 0;
  background-color: var(--color--primary);

  &__box {
  }

  &__title {
    // position: relative;

    background-color: var(--color-red);
    background-image: url(../img/products-title-background.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;

    &:after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1rem;
      content: "";
      background: var(--color-white);
    }

    @media screen and (min-width: $bp-md) {
      background-size: 50%;
      background-position: top left;
    }

    @media screen and (min-width: $bp-xl) {
      background-image: url(../img/breadstick-1.webp),
        url(../img/products-title-background.webp),
        url(../img/products-title-background.webp);
      background-size: 30%, contain;
      background-repeat: no-repeat;
      background-position: 120% 80%, 5%, 95%;
    }
  }

  &__card {
    padding: 5rem 1rem 4rem;
    display: grid;
    grid-template-areas:
      "description"
      "img"
      "composition";
    align-items: center;
    justify-items: center;
    grid-gap: 6rem;
    background-repeat: no-repeat;
    background-position: 25% 73%;
    background-size: cover;
    position: relative;
    overflow: hidden;

    @media screen and (min-width: $bp-md) {
      padding: 12rem 1rem;
      grid-template-areas:
        "description description"
        "img composition";
      background-position: center;
      background-attachment: fixed;
    }

    @media screen and (min-width: $bp-xl) {
      grid-template-areas: "description img composition";
      padding: 12rem 1rem;
      grid-auto-flow: column;
    }

    &--1 {
      background-image: url("../img/products-background-1.jpg");
    }
    &--2 {
      background-image: url("../img/products-background-2.jpg");
    }

    &--3 {
      background-image: url("../img/products-background-3.jpg");
    }
  }

  &__description {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-area: description;
  }

  &__image {
    height: 55vmax;
    transition: 0.3s all ease-in-out;
    transform: rotate(1deg);
    position: relative;
    grid-area: img;

    @media screen and (min-width: $bp-md) {
      height: 45rem;
      justify-self: flex-end;
    }
    @media screen and (min-width: $bp-xl) {
      justify-self: center;
      height: 54rem;
    }

    &:hover {
      transform: scale(1.004) rotate(1deg);

      .img--shadow {
        transform: translateX(0.3rem);
        z-index: var(--z-index-negative);
      }
    }
  }

  &__composition {
    box-shadow: var(--shadow-primary);
    background-color: var(--color-primary);
    background-blend-mode: multiply;
    background-position: top;
    padding: 0 0.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 43rem;
    width: 30rem;
    margin: 0 auto;
    grid-area: composition;
    transform: translateX(200%);

    @media screen and (min-width: $bp-xl) {
      width: 35rem;
      height: 42rem;
    }

    &--ingredients {
      padding: 2.5rem 1.5rem;
    }

    &--nutrition {
      font-size: 16px;
      line-height: 1.2;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      border-bottom: 1px solid rgba(#11347d, 0.2);
      vertical-align: top;
      text-align: left;
      padding: 8px;
      font-weight: 400;
    }

    tr,
    th,
    td {
      caption-side: bottom;
      border-spacing: 0;
      vertical-align: top;
    }

    th {
      text-align: left;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    margin: 0.9rem 0;
    align-self: center;
    gap: 4rem;
  }
}

.breadsticks__image {
  justify-self: center;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &--products {
    background-image: url("../img/breadstick-3.webp");
    height: 14vmin;
  }
  &--company {
    background-image: url("../img/breadstick-2.webp");
    height: 6vmin;
  }

  @media screen and (min-width: $bp-xl) {
    display: none;
  }
}
